/* .App {
  text-align: center;
} */
*{
  color: white;
}

button {
  color: #26252a;
}

button label { 
  color: #26252a;
}

input {
  color: #26252a;
}
textarea {
  color: #26252a;
}

main {
  max-width: 1280px;
  margin: 0px auto;
}

.my-modal .modal-content {
  background-color: #26252a;
}

.my-modal{
  /* color: #26252a; */
  display: flex;
  align-items: center;
}

/* .my-modal form * {
  text-align: left !important;
} */

.yellow-button {
  background-color:#FDCC39 !important;
  align-self: center;
}

.yellow-button * {
  color : #26252a !important;
}

body {
  background-color: #26252a;
}

.proper-case {
  text-transform: capitalize;
}

.furniture-image {
  width: 250px;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.image-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 5px;
  border: 2px solid black;
  /* padding: 5px; */
  margin: 5px;
  /* box-shadow: 5px 5px 2px #888888; */
  position: relative;
}

.remove-from-upload {
  position: absolute;
  background: red;
  border-radius: 50%;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  font-size: 9px;
  padding: 0px 0px;
  color: white;
  top: -7px;
  right: -7px;
  overflow: auto;
}

.image-upload {
  width: 75px;
  height: auto;
}

.selected-images {
  display: flex;
  align-items: center;
  justify-content: left;
}

.rc-menu__submenu > .rc-menu__item::after {
  content: none !important;
}

.rc-menu__submenu > .rc-menu__item::before {
  content: '❮';
  position: absolute;
  left: 0.5rem;
}

.rc-menu * {
  color: #26252a;
}
.w100 {
  width: 100%;
}
.w90 {
  width: 90%;
}
.w80 {
  width: 80%;
}
.w70 {
  width: 70%;
}
.w60 {
  width: 60%;
}
.w50 {
  width: 50%;
}
.w40 {
  width: 40%;
}
.w30 {
  width: 30%;
}
.w20 {
  width: 20%;
}
.w10 {
  width: 10%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.input-range label {
  margin-bottom: 0px;
  text-align: left;
}

.align-start {
  align-self: flex-start;
}

input[type=currency] {
  max-width: 45%;
}